

#game_in{
    display: none;
}

#new_game{
    padding: 5px;
    display: none;
    color: rgb(46, 194, 53);
}

#new_game:hover{
    cursor: pointer;

    color: greenyellow;
    transition: all 2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}